# Funci√≥n map()

In [2]:
numeros = [2, 5, 10, 23, 50, 33]

def doblar(numero):
    return numero * 2

map(doblar, numeros)

In [3]:
m = map(doblar, numeros)

next(m)

4

In [4]:
next(m)

10

In [5]:
next(m)

20

In [6]:
m = map(doblar, numeros)
list(m)

[4, 10, 20, 46, 100, 66]

In [9]:
list(map(lambda n : n*2, numeros))

[4, 10, 20, 46, 100, 66]

In [13]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

list(map(lambda x, y : x * y, a, b))

[6, 14, 24, 36, 50]

In [14]:
c = [11, 12, 13, 14, 15]
list(map(lambda x, y, z : x * y * z, a, b, c))

[66, 168, 312, 504, 750]

In [21]:
class Persona:
    def __init__(self, nombre, edad) -> None:
        self.nombre = nombre
        self.edad = edad
    
    def __str__(self):
        return f"{self.nombre} de {self.edad} anios"
    
personas = [
    Persona('Juan', 53),
    Persona('Marta', 16),
    Persona('Manuel', 78),
    Persona('Eduardo', 12)
]

In [22]:
def incrementar(persona):
    persona.edad += 1
    return persona

personas = map(incrementar, personas)

In [23]:
for persona in personas:
    print(persona)

Juan de 54 anios
Marta de 17 anios
Manuel de 79 anios
Eduardo de 13 anios

In [24]:
personas = [
    Persona('Juan', 53),
    Persona('Marta', 16),
    Persona('Manuel', 78),
    Persona('Eduardo', 12)
]

personas = map(lambda persona : Persona(persona.nombre, persona.edad + 1), personas)

In [25]:
for persona in personas:
    print(persona)

Juan de 54 anios
Marta de 17 anios
Manuel de 79 anios
Eduardo de 13 anios