In [1]:
valor = input()

algo

In [2]:
valor

'algo'

In [3]:
valor = input()

100

In [4]:
valor

'100'

In [6]:
#Todo lo que leemos en un input es string
valor = input("Introduce un valor: ")

Introduce un valor: 100

In [7]:
valor + 100

TypeError: can only concatenate str (not "int") to str

In [8]:
valor = input("Introduce un numero entero: ")

Introduce un numero entero: 500

In [9]:
valor = int(valor)

In [10]:
valor

500

In [11]:
valor + 100

600

In [12]:
valor = input("Introduce un numero entero: ")

Introduce un numero entero: 10.50

In [13]:
valor = int(valor)

ValueError: invalid literal for int() with base 10: '10.50'

In [14]:
valor = float(valor)

In [15]:
valor + 80.5

91.0

In [18]:
valor = float(input("Introduce un numero decimal o entero: ") )

Introduce un numero decimal o entero: 3.14

In [19]:
valor

3.14

In [20]:
nombre = input("Introduce tu nombre: ")
apellido = input("Introduce tu apellido: ")

edad = int(input("Introduce tu edad: "))
numero_magico = float(input("Introduce un numero entero o decimal: "))

numero_suerte = edad * numero_magico

cadena_final = nombre + " " +apellido + ": Tu número de la suerte es el " 
+ numero_suerte

Introduce tu nombre: Juan
Introduce tu apellido: Pérez
Introduce tu edad: 20
Introduce un numero entero o decimal: 1

20.0

In [21]:
print(cadena_final)

Juan Pérez: Tu número de la suerte es el