In [1]:
lista = ["Hola", 10, "AdiÃ³s", [10, 100, 150]]

In [2]:
lista[-1]

[10, 100, 150]

In [3]:
lista[-1][0]

10

In [5]:
lista[-1][-1]

150

In [6]:
for numero in lista[-1]:
    print(numero)

10
100
150

In [7]:
lista = [
    "Esto es un texto",             # cadena
    (1, 5, 10, 15, 20, 25),         # tupla: lista inmutable
    ["Azul", "Verde", "Amarillo"]   # lista
]

In [8]:
for coleccion in lista:
    print(coleccion)

Esto es un texto
(1, 5, 10, 15, 20, 25)
['Azul', 'Verde', 'Amarillo']

In [10]:
for coleccion in lista:
    for elemento in coleccion:
        print(coleccion, "->",elemento)

Esto es un texto -> E
Esto es un texto -> s
Esto es un texto -> t
Esto es un texto -> o
Esto es un texto ->
Esto es un texto -> e
Esto es un texto -> s
Esto es un texto ->
Esto es un texto -> u
Esto es un texto -> n
Esto es un texto ->
Esto es un texto -> t
Esto es un texto -> e
Esto es un texto -> x
Esto es un texto -> t
Esto es un texto -> o
(1, 5, 10, 15, 20, 25) -> 1
(1, 5, 10, 15, 20, 25) -> 5
(1, 5, 10, 15, 20, 25) -> 10
(1, 5, 10, 15, 20, 25) -> 15
(1, 5, 10, 15, 20, 25) -> 20
(1, 5, 10, 15, 20, 25) -> 25
['Azul', 'Verde', 'Amarillo'] -> Azul
['Azul', 'Verde', 'Amarillo'] -> Verde
['Azul', 'Verde', 'Amarillo'] -> Amarillo

In [12]:
for indice_coleccion,coleccion in enumerate(lista):
    for indice_elemento, elemento in enumerate(coleccion):
        print(coleccion, "->",elemento)

Esto es un texto -> E
Esto es un texto -> s
Esto es un texto -> t
Esto es un texto -> o
Esto es un texto ->
Esto es un texto -> e
Esto es un texto -> s
Esto es un texto ->
Esto es un texto -> u
Esto es un texto -> n
Esto es un texto ->
Esto es un texto -> t
Esto es un texto -> e
Esto es un texto -> x
Esto es un texto -> t
Esto es un texto -> o
(1, 5, 10, 15, 20, 25) -> 1
(1, 5, 10, 15, 20, 25) -> 5
(1, 5, 10, 15, 20, 25) -> 10
(1, 5, 10, 15, 20, 25) -> 15
(1, 5, 10, 15, 20, 25) -> 20
(1, 5, 10, 15, 20, 25) -> 25
['Azul', 'Verde', 'Amarillo'] -> Azul
['Azul', 'Verde', 'Amarillo'] -> Verde
['Azul', 'Verde', 'Amarillo'] -> Amarillo

In [13]:
for indice_coleccion,coleccion in enumerate(lista):
    for indice_elemento, elemento in enumerate(coleccion):
        print(lista[indice_coleccion][indice_elemento])

E
s
t
o

e
s

u
n

t
e
x
t
o
1
5
10
15
20
25
Azul
Verde
Amarillo

In [14]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]

for fila in tabla:
    print(fila)

[0, 0, 0]
[1, 1, 1]
[2, 2, 2]

In [18]:
for fila in tabla:
    for columna in fila:
        print(columna, end = " ")
    print()

0 0 0
1 1 1
2 2 2

In [21]:
for i, fila in enumerate(tabla):
    for j, columna in enumerate(fila):
        print(tabla[i][j], end = " ")
    print()

0 0 0
1 1 1
2 2 2

In [23]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]

cubo =[
    tabla, tabla, tabla
]

In [26]:
print(cubo[0][1][2]) #[profundidad][fila][columna]

1

In [32]:
for k, tabla in enumerate(cubo):
    for j, fila in  enumerate(tabla):
        for i, columna in enumerate(fila):
            print(cubo[k][j][i], end = " ")
        print()
    print()

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2